@import 'animate.min.css';
@import 'normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #111;
  text-decoration: none;
  transition: all 0.3s ease;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  color: #111;
  background: #f9fcfc;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn,
a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #fdfdfd;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(344.82deg, #276d99 25.65%, rgba(39, 109, 153, 0.83) 75.47%);
  border-radius: 30px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: linear-gradient(344.82deg, #165176 25.65%, rgba(30, 96, 137, 0.83) 75.47%);
  transition: background 0.3s ease;
}

.btn:active {
  background: linear-gradient(344.82deg, #276d99 25.65%, rgba(39, 109, 153, 0.83) 75.47%);
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2em;
  color: #276d99;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: #276d99;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: #276d99;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}

.head__logo {
  height: 74px;
}

.head__logo img {
  width: 179px;
}

.head__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.head__actions > * {
  margin-left: 25px;
}

.app--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 44px;
  background: #f9fcfc;
  border: 1px solid #286e9a;
  border-radius: 30px;
}

a.app--btn:hover {
  background: #e2f3fd;
}

a.app--btn:active {
  background: #f9fcfc;
}

.app--btn.disabled {
  cursor: default;
  border: 1px solid #8f8f8f;
  opacity: .5;
}

.app--btn img {
  display: block;
  width: 118px;
}

.text-content {
  margin-top: 10px;
}

/*** header content ***/

/*switch lang*/
.switch {
  position: relative;
  text-transform: uppercase;
}
.switch.show-options .options {
  display: block;
}

.switch.show-options svg {
  transform: rotate(-180deg);
}

.options {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 99;
}

.current {
  width: 40px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  width: 60px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px #E8EDF0;
  overflow: hidden;
}

.options-list li {
  height: 36px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-list li.selected {
  background-color: #E2F3FD;
}

.options-list li:hover {
  background-color: #E2F3FD;
  cursor: pointer;
}
/*switch lang*/

.header__pic {
  display: block;
  width: 600px;
}

.header__btn-link {
  display: none;
}

.header__offer {
  position: relative;
  height: 190px;
  margin-top: 90px;
  margin-left: -19px;
}

.header__offer img {
  width: 469px;
}

.header__offer p {
  position: absolute;
  top: 131px;
  left: 19px;
}

.header__btn {
  width: 261px;
  margin-top: 35px;
}

/*** /header-content ***/

.mission__text {
  margin-top: 116px;
}

.mission__pic {
  width: 744px;
  min-width: 744px;
  margin-top: 41px;
  margin-right: -42px;
}

.maximum__content {
  margin-top: 125px;
  margin-bottom: 118px;
}

.maximum__pic {
  width: 560px;
  min-width: 560px;
  margin-right: 40px;
}

/*** segments ***/

.segments {
  padding: 120px 0;
  background: #e2f3fd;
}

.segments__title {
  margin-bottom: 50px;
}

.segments__pic {
  width: 280px;
  border-radius: 8px;
}

.segments__card {
  width: 360px;
  max-width: 360px;
  padding: 40px 40px 30px;
  background: #f9fcfc;
  border-radius: 14px;
  min-height: 570px;
  box-shadow: 0 0 30px #a3c1d2;
}

.segments__card p {
  width: 100%;
}

.segments__card-content {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.segments__subtitle {
  margin-bottom: 12px;
}

ul {
  list-style: none;
}

li span {
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}

/*** /segments ***/

/*** usefully ***/
.usefully {
  padding: 120px 0 75px;
}

.usefully__title {
  margin-bottom: 50px;
}

.usefully__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usefully__card {
  width: 100%;
  max-width: 365px;
  margin-right: 30px;
  margin-bottom: 45px;
}

.usefully__card:nth-child(3n) {
  margin-right: 0;
}

.usefully__card-img {
  width: 100%;
  max-width: 365px;
  margin-bottom: 30px;
}

.usefully__card-title {
  margin-bottom: 9px;
}

/*** /usefully ***/

/*** scalability ***/
.scalability {
  padding: 120px 0;
  color: #f9fcfc;
  background: #276d99;
}

.scalability__title {
  margin-bottom: 50px;
  color: #f9fcfc;
}

.scalability__card {
  width: 100%;
  max-width: 360px;
}

.scalability__card-text {
  margin-top: 30px;
}

/*** /scalability ***/

/*** how ***/
.how {
  padding: 120px 0;
  background: url('../img/dec_line.svg') no-repeat center top 227px;
}

.how__title {
  margin-bottom: 15px;
}

.how__step {
  position: relative;
  width: 100%;
  max-width: 360px;
}

.step::before {
  position: absolute;
  top: -55px;
  left: 0;
  font-size: 80px;
  font-weight: 900;
  color: #e2f3fd;
}

.step_one::before {
  content: '1';
}

.step_two::before {
  content: '2';
}

.step_three::before {
  content: '3';
}

.step_four::before {
  content: '4';
}

.how__step_one,
.how__step_three {
  margin-top: 124px;
}

.how__step_two {
  margin-top: 173px;
}

.how__step-img {
  width: 100%;
  max-width: 365px;
  margin-top: 40px;
}

/*** /how ***/

/*** hotel ***/
.hotel {
  padding: 120px 0 180px;
  background: #e2f3fd;
}

.hotel__title {
  margin-bottom: 20px;
}

.slide-img {
  width: 260px;
}

.hotel__content {
  display: flex;
  margin-top: 50px;
}

.container-slider {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.hotel__slide_first {
  margin-left: 60px;
}

.hotel__slide_last {
  margin-right: 60px;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  top: auto;
  bottom: -90px;
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  margin-top: -10px;
  color: transparent;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.3s ease;
    z-index: 99;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #bfe2f7;
}

.slick-prev:active,
.slick-next:active {
  background-color: transparent;
}

.slick-dots {
  display: none !important;
}

.slick-prev::before,
.slick-next::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 50%;
  margin-left: -30px;
  transform: translateX(-50%);
}

.slick-prev::before {
  display: block;
  width: 44px;
  height: 44px;
  content: '';
  background: url("../img/arrow-slider.png") no-repeat center center;
    background-size: 44px;
    transform: rotate(180deg);
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slick-next {
  right: 50%;
  margin-right: -77px;
  transform: translateX(-50%);
}

.slick-next::before {
  display: block;
  width: 44px;
  height: 44px;
  content: '';
  background: url("../img/arrow-slider.png") no-repeat center center;
    background-size: 44px;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*** /hotel ***/

/*** uniqueness ***/
.uniqueness {
  padding: 120px 0;
  background: url("../img/dec_line_2.svg") no-repeat center top 480px;
}

.uniqueness__title {
  margin-bottom: 30px;
}

.uniqueness__item {
  margin-bottom: 10px;
}

.uniqueness__content {
  width: 100%;
  max-width: 560px;
}

.uniqueness__pic {
  width: 100%;
  max-width: 560px;
  min-width: 560px;
}

.uniqueness__step {
  position: relative;
  width: 100%;
  max-width: 260px;
}

.uniqueness__step_one {
  margin-top: 124px;
}

.uniqueness__step_two {
  margin-top: 198px;
}

.uniqueness__step_three {
  margin-top: 166px;
}

.uniqueness__step_four {
  margin-top: 187px;
}

.uniqueness__steps {
  margin-bottom: 120px;
}

.uniqueness__btn {
  max-width: 445px;
  margin: 0 auto;
}

/*** /uniqueness ***/

/*** cookies ***/
.cookies {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 27px 0;
  background: #bad1de;
}

.cookies__btn {
  min-width: 322px;
  max-width: 322px;
  margin-left: 30px;
}

.cookies__content {
  align-items: center;
}

.cookies__content p {
  font-size: 16px;
}

/*** /cookies ***/

/*** footer ***/
.footer {
  padding: 120px 0;
  color: #f9fcfc;
  background: #286e99;
}

.footer span {
  display: block;
  font-size: 14px;
}

.footer__credits {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  width: 100%;
  flex: 1 1;
}

.footer__contacts {
  width: 250px;
}

.footer__wrap-center {
  display: flex;
  flex: 1 1;
  justify-content: center;
}

.footer__title {
  margin-bottom: 7px;
  font-size: 16px;
}

.btn.footer__btn {
  min-width: 185px;
  max-width: 185px;
  padding: 0;
  background: #286e99;
  border: 2px solid #f9fcfc;
  border-radius: 30px;
}

.footer__btn:hover {
  background: #165176;
}

.footer__btn:active {
  background: #286e99;
}

.footer__policy {
  width: 100%;
  max-width: 360px;
  margin-left: 20px;
  font-size: 14px;
}

.footer__link {
  color: #f9fcfc;
  text-decoration: underline;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__right {
  width: 250px;
}

.footer__right span {
  margin-bottom: 7px;
}

/*** /footer ***/
@media (max-width: 1190px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 650px;
  }

  .head__logo {
    height: 46px;
  }

  .head__logo img {
    width: 110px;
  }

  .header__offer img {
    width: 431px;
  }

  .app--btn {
    width: 110px;
    height: 35px;
    border: 1px solid #286e9a;
  }

  .app--btn svg {
    width: 78px;
    height: 18px;
  }

  .app--btn img {
    display: block;
    width: 81px;
  }

  .head__actions > * {
    margin-left: 15px;
  }

  .header__content {
    flex-direction: column-reverse;
  }

  .mission__content {
    flex-direction: column;
  }

  .head {
    padding-bottom: 30px;
  }

  .header__pic {
    width: 100%;
  }

  .header__offer {
    height: 180px;
    margin-top: 0;
  }

  .header__offer p {
    font-size: 18px;
  }

  .header__btn {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .app--btn.disabled {
    border: 1px solid #8f8f8f;
  }

  .mission__text {
    margin-top: 100px;
  }

  .mission__pic {
    width: 100%;
    min-width: 100%;
    margin-top: 30px;
    margin-right: 0;
  }

  .maximum__content {
    flex-direction: column-reverse;
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .maximum__pic {
    width: 460px;
    min-width: 460px;
    margin-top: 35px;
  }

  .segments {
    padding: 100px 0;
  }

  .segments__content {
    flex-direction: column;
  }

  .segments__title {
    margin-bottom: 10px;
  }

  .segments__card {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    padding: 30px 30px 35px;
    margin-top: 40px;
    min-height: auto;
    align-items: flex-start;
  }

  .segments__card-content {
    margin-top: 0;
    margin-left: 23px;
  }

  .usefully__content {
    justify-content: space-between;
  }

  .usefully__card {
    width: 287px;
    max-width: 287px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .usefully {
    padding: 100px 0 60px;
  }

  .scalability,
  .how,
  .uniqueness {
    padding: 100px 0;
  }

  .hotel {
    padding: 100px 0 160px;
  }

  .scalability__content {
    flex-wrap: wrap;
  }

  .scalability__title {
    width: 100%;
    max-width: 444px;
    margin-bottom: 0;
  }

  .scalability__card {
    max-width: 300px;
    margin-top: 40px;
  }

  .how {
    background: url(../img/dec_line_tablet.svg) no-repeat center top 227px;
  }

  .how__content {
    flex-wrap: wrap;
  }

  .how__step {
    max-width: 300px;
  }

  .how__step_one {
    margin-top: 98px;
  }

  .how__step_two {
    margin-top: 300px;
  }

  .step::before {
    top: -50px;
  }

  .how__step-img {
    max-width: 300px;
    margin-top: 15px;
  }

  .how__step_three {
    margin-top: -75px;
  }

  .hotel__text {
    width: 100%;
    max-width: 433px;
  }

  .hotel__content {
    margin-top: 40px;
  }

  .uniqueness {
    background: url(../img/dec_line_2.svg) no-repeat center top 673px;
  }

  .uniqueness__content {
    width: 100%;
  }

  .uniqueness__wrapper {
    flex-direction: column;
  }

  .uniqueness__pic {
    max-width: 465px;
    min-width: 465px;
    margin-top: 45px;
  }

  .uniqueness__steps {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .uniqueness__step {
    max-width: 275px;
  }

  .uniqueness__step_three {
    margin-top: 85px;
  }

  .uniqueness__step_four {
    margin-top: 123px;
  }

  .cookies {
    padding: 20px 0;
  }

  .cookies__btn {
    min-width: 260px;
    max-width: 260px;
    height: 50px;
    padding: 0 20px;
    margin-left: 30px;
    font-size: 12px;
  }

  .cookies__content p {
    font-size: 12px;
  }

  .footer {
    padding-top: 100px;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__right {
    width: auto;
  }

  .btn.footer__btn {
    margin-top: 30px;
    margin-left: 0;
  }

  .footer__policy {
    margin-top: 15px;
    margin-left: 0;
  }

  .slick-next,
  .slick-prev {
    bottom: -65px;
  }

  .footer__wrap-center {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .cookies__content {
    flex-direction: column;
  }

  .app--btn {
    max-width: 120px;
    margin-right: 15px;
  }

  .header__btn-wrapper {
    display: flex;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .header__btn-link {
    margin-left: 15px;
    display: flex;
    align-items: center;
  }

  .head__logo,
  .head__link {
    display: none;
  }

  .app--btn {
    margin-left: 0;
  }

  .app--btn:last-child {
    margin-left: 10px;
  }

  .head__actions {
    justify-content: center;
  }

  .head {
    padding-bottom: 0;
  }

  .container {
    max-width: 420px;
  }

  .header__offer {
    height: 120px;
    margin-top: 0;
    margin-left: -10px;
  }

  .header__offer img {
    width: 307px;
  }

  .header__offer p {
    top: 90px;
    left: 10px;
    width: 300px;
    font-size: 13px;
  }

  .btn,
  a.btn {
    height: 44px;
    padding: 0 20px;
    font-size: 12px;
  }

  .head__actions {
    justify-content: flex-start;
    align-items: center;
  }

  .header__btn {
    width: 200px;
    margin: 0;
  }

  .mission__text {
    margin-top: 65px;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }

  .mission__pic {
    margin-top: 10px;
  }

  .maximum__content {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .maximum__pic {
    width: 100%;
    min-width: 100%;
    margin-top: 20px;
  }

  .segments {
    padding: 80px 0;
  }

  .segments__card {
    flex-direction: column;
    margin-top: 20px;
  }

  .segments__pic {
    width: 100%;
  }

  .segments__card-content {
    margin-top: 20px;
    margin-left: 0;
  }

  .segments__subtitle {
    margin-bottom: 10px;
  }

  .usefully__content {
    flex-direction: column;
  }

  .usefully {
    padding: 80px 0 50px;
  }

  .usefully__title {
    margin-bottom: 35px;
  }

  .usefully__card-img {
    margin-bottom: 15px;
  }

  .usefully__card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .how,
  .scalability,
  .uniqueness {
    padding: 80px 0;
  }

  .hotel {
    padding: 80px 0 140px;
  }

  .scalability__card {
    max-width: 100%;
  }

  .scalability__card svg {
    width: 70px;
    height: 70px;
  }

  .scalability__card-text {
    margin-top: 18px;
  }

  .scalability__content,
  .how__content,
  .footer__credits {
    flex-direction: column;
  }

  h4 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    line-height: 1.3em;
  }

  .how {
    background: url(../img/dec_line_mobile.svg) no-repeat center top 200px;
  }

  .how__step_two,
  .how__step_three {
    margin-top: 95px;
  }

  .hotel__title {
    margin-bottom: 15px;
  }

  .hotel__content {
    margin-top: 10px;
  }

  .how__step,
  .how__step-img {
    max-width: 100%;
  }

  .how__step p {
    max-width: 300px;
  }

  .uniqueness__title {
    margin-bottom: 15px;
  }

  .uniqueness__pic {
    margin-top: 10px;
    min-width: 100%;
  }

  .uniqueness {
    background: url(../img/dec_line_mobile_2.svg) no-repeat left top 530px;
  }

  .uniqueness__step {
    margin-top: 110px !important;
  }

  .uniqueness__step:nth-child(2n) {
    margin-left: 80px;
  }

  .btn.uniqueness__btn {
    max-width: 320px;
    font-size: 10px;
  }

  .footer {
    padding: 80px 0 110px;
  }

  .cookies {
    padding: 10px 0;
  }

  .cookies__btn {
    margin-top: 10px;
    margin-left: 0;
  }

  .cookies__content p {
    text-align: center;
  }

  .btn.footer__btn,
  .footer__policy {
    margin-top: 20px;
  }

  .footer__right {
    margin-top: 30px;
  }

  .hotel__slide_first {
    margin-left: 0;
  }

  .hotel__slide_last {
    margin-right: 0;
  }
}
